<app-navigation></app-navigation>

<div class="page-wrapper">
    <div class="container">
        <h6 style="color: #8A8A8A;">My Appointments History</h6>

            <div class="row">
                <div class="col-sm-4" *ngFor="let appointment of appointmentHistory" style="margin-top: 15px;">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-2">
                                <!-- <img src="./assets/img/doctor-thumb-07.jpg" alt="" width="45px" height="45px"> -->
                                <img src="{{apiUrl}}/doctor/profilePic/{{appointment.doctor.doctorId}}" alt="" width="45px" height="45px">

                                &nbsp;
                            </div>
                           
                          <div class="col-sm-10">
                            <h4 >Dr.{{appointment.doctor.firstName}} {{appointment.doctor.lastName}}<br></h4>
                            <p style=" margin-top: -7px;">{{appointment.doctor.spec.description}}</p><br>
                            <p style=" margin-top: -37px;">Aster Super Speciality Hospital{{appointment.doctor.hospital.hospitalName}}</p>
                          </div>
                       
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="paragraph">Boking Id : </p>
                                <p class="paragraph">Date of Appointment:</p>
                                <p class="paragraph">Selected Time Slot:</p>
                                <p class="paragraph">Status of Appointment:</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="paragraph">{{appointment.bookingId}} </p>
                                <p class="paragraph">{{appointment.date}}</p>
                                <p class="paragraph">{{appointment.time}}</p>
                                <p class="paragraph" style="color: #27B23E;">{{appointment.status}}</p>
                            </div>

                        </div>
                        <!-- <div class="row" style="    padding: 17px 60px 10px 21px">
                            <div class="col-sm-6">
                                <button class="cancelbtn">Cancel</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="reschedultbtn">Reshedule</button>
                            </div>

                        </div> -->

                    </div>
                </div>
            </div>
        </div>
        </div>
