<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>LOGO</h4>
                <P style="    margin-top: 45px;">We offer full range of garage services to vehicle owners in UAE. Professionals know how to handle a wide range of car services</P>
            </div>
            <div class="col-sm-3">
                <h4> Lorem ipsum</h4>
                <p style="    margin-top: 45px;">  <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
               
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
            </div>
            <div class="col-sm-3">
                <h4> Lorem ipsum</h4>
                <p style="    margin-top: 45px;"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum</p>
                <!-- <P>We offer full range of garage services to vehicle owners in UAE. Professionals know how to handle a wide range of car services</P> -->
            </div>
            <div class="col-sm-3">
                <h4>Lorem ipsum</h4>
                <p style="    margin-top: 45px;"> <i class="fa fa-map-marker" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-phone" aria-hidden="true"></i> Lorem ipsum</p>
                <p> <i class="fa fa-envelope" aria-hidden="true"></i> Lorem ipsum</p>
                <!-- <div class="col-md-4 "> -->
                    <ul class="social-icons">
                      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                      <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> -->
                      <!-- <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li> -->
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  <!-- </div> -->
                <!-- <P>We offer full range of garage services to vehicle owners in UAE. Professionals know how to handle a wide range of car services</P> -->
            </div>
        </div>
    </div>
</div>