<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a class="logo">
                 <span>HPH101+ </span>
            </a>
        </div>
     
       
   </div>
    </div>
     <div class="page-content">
            <div class="form-v4-content">
                <div class="form-left">
                        <img  class="side" src="assets/img/frgt.png">
                </div>
                <form class="form-detail" [formGroup]="resetEmailForm">
                    <div style="font-size: medium;color: green;">

                        {{resetEmail}}
                    </div>
                    <h2 style="margin-top: 10px;"> Forgot Your Password</h2>
         

                
                    <div class="form-group" >
                        <div class="form-row">
                            <label for="first_name">Email ID</label>
                            <input type="text" name="first_name" [(ngModel)]="loginmodel.email" formControlName="email" id="first_name" class="input-text">
                            <!-- <h6 style="color: red;">{{resetEmail}}</h6> -->
                        </div>
                        
                    </div>
                    
                   
                    
                    <div class="form-row-last">
                        <!-- <input type="submit" style="margin-left: -10px;width: 160px;" name="register" class="register" [disabled]="isLoading" (click)="reset()" value="Reset Password"> -->
                        
                        <button class="register" style="margin-left: -10px;width: 185px;height: 53px;" [disabled]="isLoading" (click)="reset()"><i class="fa" [ngClass]="{' fa-spinner fa-spin': isLoading, 'fa-check': !isLoading}"></i>{{button}}</button>
                    
                    </div>
                </form>
            </div>
        </div>
        
    <div class="footer">
        <p>(c) DEVELOPED AND MAINTAINED BY PRVAK TECHNOLOGIES PVT LTD</p>
    </div>