<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">




    <div class="content">

        <div class="row">
            <div class="col-sm-6 ">
                <h4 class="page-title" style="font-size: 26px;font-weight: 500;margin-top: 10px; ">Hospital Details</h4>

            </div>
        </div>

        <div class="row" style="padding-top: 58px;">
            <div class="col-sm-3" style="padding: 20px;">
         
                    <h4 style="color: #888888;font-size: 14px;">Hospital Name </h4>
                  
               
            </div>
            <div class="col-sm-3" style="padding: 18px;
            height: 57px;
            background: white;">
                <h4 class="alignment">{{name}}</h4>
            </div>
        </div>
        

        <div class="row" >
            <div class="col-sm-3" style="padding: 20px;">
         
                    <h4 style="color: #888888;font-size: 14px;">Phone Number  </h4>
                  
               
            </div>
            <div class="col-sm-3" style="padding: 18px;
            height: 57px;
            background: white;">
                <h4 class="alignment">{{mob}}</h4>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-sm-3" style="padding: 20px;">
         
                    <h4 style="color: #888888;font-size: 14px;">Email Id</h4>
                  
               
            </div>
            <div class="col-sm-3" style="padding: 18px;
            height: 57px;
            background: white;">
                <h4 class="alignment">{{email}}</h4>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-sm-3" style="padding: 20px;">
         
                    <h4 style="color: #888888;font-size: 14px;">Contact Person Name </h4>
                  
               
            </div>
            <div class="col-sm-3" style="padding: 18px;
            height: 57px;
            background: white;">
                <h4 class="alignment">{{contactName}}</h4>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-sm-3" style="padding: 20px;">
         
                    <h4 style="color: #888888;font-size: 14px;">Contact Person Number</h4>
                  
               
            </div>
            <div class="col-sm-3" style="padding: 18px;
            height: 57px;
            background: white;">
                <h4 class="alignment">{{contactPhone}}</h4>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-sm-3" style="padding: 20px;">
         
                    <h4 style="color: #888888;font-size: 14px;">Contact Person Email Id </h4>
                  
               
            </div>
            <div class="col-sm-3" style="padding: 18px;
            height: 57px;
            background: white;">
                <h4 class="alignment">{{contactEmail}}</h4>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-sm-3" style="padding: 20px;">
         
                    <h4 style="color: #888888;font-size: 14px;">City</h4>
                  
               
            </div>
            <div class="col-sm-3" style="padding: 18px;
            height: 57px;
            background: white;">
                <h4 class="alignment">{{city}}</h4>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-sm-3" style="padding: 20px;">
         
                    <h4 style="color: #888888;font-size: 14px;">Hospital Type </h4>
                  
               
            </div>
            <div class="col-sm-3" style="padding: 18px;
            height: 57px;
            background: white;">
                <h4 class="alignment">{{hospitalType}}</h4>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-sm-3" style="padding: 20px;">
         
                    <h4 style="color: #888888;font-size: 14px;">Address </h4>
                  
               
            </div>
            <div class="col-sm-3" style="padding: 18px;
            height: 57px;
            background: white;">
                <h4 class="alignment">{{name}},{{street}},{{location}},{{state}},{{Country}}</h4>
            </div>
        </div>
    </div>
</div>