<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                
                <img src="./assets/img/urn_aaid_sc_US_54d95aff-6c21-4f2a-832b-080fd07ffe2c (2).png" alt="">
            </div>
            <div class="col-sm-8" style="     padding: 78px 78px 0px 78px;">
                <h4>Care On The GO</h4>
                <h5>Download Mobile App</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna</p>
                <div>
               
                        <img class="_12dJy" height="54" style="    height: 57px;
                        width: 200px;
                        float: left;"
                            src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_108/play_ip0jfp">
                            <img class="_37Cft" height="54" style="    height: 57px;
                            width: 200px;
                            float: left;"
                            src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_108/iOS_ajgrty">
                </div>
            </div>
        </div>
    </div>
</div>