<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Reset Password</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form [formGroup]="resetForm">
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>New Password<span class="text-danger" >*</span> </label>
                                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                type="password" [(ngModel)]="doctormodel.password" formControlName="password">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required"> Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Confirm Password<span class="text-danger" >*</span></label>
                                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                                 type="password" [(ngModel)]="doctormodel.confirmPassword" formControlName="confirmPassword">
                                
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div>
                        </div>
                        
                     
                      
                    </div>
              
                    <div class="m-t-20 text-center">.
                       
                        <button class="btn btn-primary submit-btn" style="margin-left: 10px;" (click)="reset()">Reset Password<i class="fa fa-arrow-right" style="margin-left: 10px;" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
