
<app-header></app-header>
<div class="page-wrapper">
 
            <p style="padding-left: 29px; margin-top: 68px;font-size: 19px;" >  <a routerLink="/commandcenter"><i style="color: black;">Command Center</i></a>  &nbsp;  <i class="fa fa-angle-double-right"></i > &nbsp; <i style="color:#1492E6;"> See More CC</i> </p>
    

<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Command Center
        </mat-panel-title>
        <!-- <mat-panel-description>
          Type your name and age
        </mat-panel-description> -->
      </mat-expansion-panel-header>
  
      <!-- <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field> -->
      <!-- <app-edit-doc-basic-detials></app-edit-doc-basic-detials> -->
      <app-edit-commandcenter></app-edit-commandcenter>
    </mat-expansion-panel>
    </mat-accordion>
    </div>