<div class="page-wrapper">
 
           

       
    <div class="content">
            
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Verify Request</h4>
               
               
            </div>
           
          
            <div class="col-sm-8 col-9 text-right m-b-20">
         
            
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-border table-striped custom-table mb-0">
                        <thead>
                            <tr>
                                <th>Hospital Name</th>
                                <th>Contact No</th>
                                <th>Profile Status</th>
                                <th>View</th>
                             
                            
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                               
                                <td></td>
                                <td></td>
                                <th style="font-weight: bold;color: green;"></th>
                                <td> <button  class="btn btn-warning"><i class="fa fa-pencil" ></i>View </button></td>
                            

                        </tr>
                        </tbody>
                    </table>


              
             
                </div>
        </div>
        </div>

    </div>
    <app-header></app-header>
    <app-sidebar></app-sidebar>