<app-header></app-header>
<!-- <app-sidebar></app-sidebar> -->
<div class="page-wrapper">
        
    <div class="content">
<div class="notice notice-lg">
    <h5 class="text">Your registration is under process please wait until our representative contacts you</h5>
    <h5 class="text">Thank you !</h5>
    <!-- <button class="btn btn-dark" (click)="completeProfile()">Complete Profile</button> -->
    <!-- <h5 style="color: green; text-align: center;">{{messages}}</h5> -->
 </div>
</div>
</div>
 
           

       
   