.form-control{
    border-radius: 25px;
    border:   1px solid rgb(13, 114, 230);
    padding: 20px; 
    width: 500px;
    height: 10px;  
    float: right;
    margin-left: 38px;
    margin-right: 42px;
    margin-top: -4px;
}
.page-wrapper {
    left: 0;
    margin-left: 0px;
    padding-top: 50px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.notice {
    margin-left: 15vw;
    margin-top: 13vw;
    background-color: #fafafa;
    border-left: 6px solid #0101d3;
    margin-bottom: 10px;
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    margin-right: 10vw;
    border-right: 6px solid rgb(41, 177, 8);
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.text{
    text-align: center;
    font-size: large;
}
.btn-dark {
    margin-left: auto;
    align-items: center;
   
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    margin-right: auto;
    display: block;
}