<div>

    <img src="https://img.icons8.com/cute-clipart/128/000000/checked-radio-button.png" style="margin-left: auto;margin-right: auto; display: block;" />
    <!-- <img src="https://img.icons8.com/officel/16/000000/reviewer-female.png"  style="margin-left: auto;margin-right: auto; display: block;"/> -->
    <h4 style="text-align: center; ">Are you sure you want to Confirm?</h4>
   

</div>
<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-danger" style="    margin-left: auto;
        margin-right: auto;display: block; padding: 8px; width: 147px;" (click)="confirm()">YES</button>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-primary" style="    width: 145px; margin-left: auto; margin-right: auto; display: block;
        background: white;color: black; border: 1px solid; " (click)="NoClick()">NO</button>
    </div>
   
</div>
