<app-navigation></app-navigation>

<div class="page-wrapper" style="margin-top: 62px;">
    <div class="container">
        <form [formGroup]="registrationForm">

            <div class="row">
                <div class="col-sm-7">

                </div>
                <div class="col-sm-5">
                    <div class="card">
                        <div class="card-title">
                            <h4>Patient Registration</h4>
                            <p>Setup your password.</p>
                           
                                    <div class="col-sm-12">
                                        <label for=""> Password</label>
                                        <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="loginmodel.password"
                                            formControlName="password" type="password" class="form-control">
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required"> Password is required</div>
                                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="    margin-top: 21px;">
                                        <label for=""> Confirm Password</label>
                                        <input class="form-control" [(ngModel)]="loginmodel.confirmPassword"
                                        formControlName="confirmPassword" type="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                        
                                    <!-- <input type="checkbox" (click)="password()"> Show Password -->
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                    </div>
                                    </div>
                        
                                    <div class="col-sm-12" style="    padding: 29px 16px 16px 17px;">
                                        <button (click)="create()">Register </button>
                                    </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>