<app-header></app-header>

<!-- <app-sidebar></app-sidebar> -->

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Establishment Id Proof</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form>
                    <div class="row">
                        
                  
                    
                      

                        <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Establishment Id proof</label>
                                    <div class="profile-upload">
                                       
                                        <div class="upload-input">
                                           
                                            <input #file type="file" (change)="addIdProof($event)"  class="form-control"  />
                                        <!-- <h5 style="color: red;">{{message}}</h5> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                    </div>
                
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" (click)="next()" [disabled]="isLoading"><i class="fa" [ngClass]="{' fa-spinner fa-spin': isLoading, 'fa-check': !isLoading}"></i> {{button}}</button>
                   
                    </div>
                </form>
            </div>
        </div>
    </div>