.page-wrapper {
    left: 0;
    margin-left: 8px;
    padding-top: 50px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
@media (min-width: 1200px)
{.container {
    max-width: 1287px;
}}
.m-t-20 {
    float: left;
    margin-top: 20px !important;
}

.submit-btn {
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #0085B2;
    min-width: 200px;
    padding: 8px 20px;
    text-transform: capitalize;
}