
     <div class="page-content">
        
            <div class="form-v4-content">
                <div class="form-left">
                        <img  class="side" src="assets/img/frgt.png">
                </div>
                <form class="form-detail" action="#" method="post" id="myform">
                    <hr>
                    <h2>Reset Password</h2>
                    <hr>
                    <div class="form-group">
                        <div class="form-row">
                            <label for="New Password">New Password</label>
                            <input type="text" name="New Password" id="New Password" class="input-text">
                        </div>
                        
                    </div>
                    <div class="form-group">
                            <div class="form-row">
                                <label for="Confirm Password">Confirm Password</label>
                                <input type="text" name="Confirm Password" id="Confirm Password" class="input-text">
                            </div>
                            
                        </div>
                    
                   
                    
                    <div class="form-row-last">
                        <input type="submit" name="register" class="register" (click)="login()" value="Reset ">
                       
                    </div>
                </form>
            </div>
        </div>