<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a class="logo">
                 <span>HPH101+ </span>
            </a>
        </div>
     
       
   </div>
    </div>









<!-- <div class="page-content" >
    <div class="form-v4-content">
        <div class="form-left">
                <img  class="side" src="assets/img/lgn.jpg">
        </div>
        <form class="form-detail" [formGroup]="loginForm">
        
            <h2>Hospital</h2>
        
          
            <div class="form-group">
                <div class="form-row">
                    <label for="first_name">Username</label>
                    <input type="text" name="first_name" id="first_name" class="input-text" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="loginmodel.email" formControlName="email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">email is required</div>
                    </div>
                </div>
                
            </div>
            
            <div class="form-group">
                <div class="form-row ">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="input-text" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  [(ngModel)]="loginmodel.password" formControlName="password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">password is required</div>

                    </div>
                </div>
                
            </div>
            
            <div class="form-row-last">
                <input type="submit" name="register" class="register" (click)="login()" value="Login">
                <a style="padding-left: 46px;" routerLink="/forgotPassword"  >Forgot your Password?</a>
            </div>

        </form>
    </div>

</div> -->

<div class="main-wrapper account-wrapper">
    <div class="account-page">
        <div class="account-center">
            <div class="account-box">
                <form class="form-signin" [formGroup]="loginForm">
                    <div class="account-logo">
                        <a ><img src="./assets/img/logo.png" alt="">
                            <h3> Hospital Login </h3>
                        </a>
                    </div>
                    <div class="form-group">
                        <label>Username </label>
                        <input type="text" autofocus="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="loginmodel.email" formControlName="email">
                         <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  [(ngModel)]="loginmodel.password" formControlName="password">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
    
                        </div>
                    </div>
                
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary account-btn" (click)="login()">Login</button>
                       
                    </div>
                    <p style="text-align: center; cursor: pointer;" routerLink="/hospital-administrator"  matTooltip="Are you a administrator" >Is adminstrator?</p>
                    <p style="text-align: center; cursor: pointer;" routerLink="/forgot-password"  >Forgot your Password?</p>
                 <!-- <div style="color: red; font-size: medium; text-align: center;">{{error}}</div> -->
                </form>
            </div>
        </div>
    </div>
</div>




<!-- <app-footer></app-footer> -->
<div class="footer">
    <p>Designed and Developed by Prvak Technology Solutions Private Limited</p>
  </div>


