<div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li ></li>
                    <li style="margin-top: 25px;"  routerLinkActive="active">
                        <a routerLink ="/patient-list"><img src="https://img.icons8.com/ultraviolet/30/000000/hospital-bed.png"><span>Patient List</span></a>
                    </li>
                    <li style="margin-top: 20px;"  routerLinkActive="active">
                        <a routerLink ="/onprogress"><img src="https://img.icons8.com/ios-filled/30/000000/progress-indicator.png"/><span>On Progress</span></a>
                    </li>
                    <li style="margin-top: 20px;"  routerLinkActive="active">
                        <a routerLink ="/reports"><img src="https://img.icons8.com/color/30/000000/business-report.png"><span>Reports</span></a>
                    </li>
                    
                    <li style="margin-top: 20px;"  routerLinkActive="active">
                        <a routerLink ="/notifications"><img src="https://img.icons8.com/nolan/30/000000/medical-doctor.png"><span>Doctor Leave</span></a>
                    </li>
              
                    <li style="margin-top: 20px;"  routerLinkActive="active">
                        <a routerLink ="/resetPassword"><img src="https://img.icons8.com/flat_round/30/000000/recurring-appointment.png"><span>Reset Password</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    