<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Edit CC</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form [formGroup]="editCCForm" >
                        <div class="row">
                         
                                     <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Password <span class="text-danger">*</span></label>
                                                <input class="form-control" [(ngModel)]="doctorModel.password" formControlName="password" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                    <div *ngIf="f.password.errors.required"> Password is required</div>
                                                    <div *ngIf="f.password.errors.mustMatch">Passwords must match</div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Confirm Password <span class="text-danger">*</span> </label>
                                            
                                            <input class="form-control" [(ngModel)]="doctorModel.confirmPassword" formControlName="confirmPassword" [type]="show ? 'text' : 'password'"  [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" >
                                           
                                            <!-- <input type="checkbox" (click)="password()"> Show Password -->
                                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                            </div>
                                        </div>
                                        
                                </div>
                                   
                        </div>
                    
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary submit-btn" (click)="updatePasword()">Update Password</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        </div>