<app-header></app-header>

<app-sidebar></app-sidebar>
<!-- <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title"> City</h4>
                </div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <input class="form-control"type="text"  name="searchString"  [(ngModel)]="searchString"  placeholder="Search here" aria-label="Search">
                    
                    <a  class="btn btn btn-primary  float-right" style="color: white;" (click)="city()"><i class="fa fa-plus"></i> Add City </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table matSort (matSortChange)="sortData($event)" class="table table-border table-striped custom-table mb-0">
                            <thead>
                                <tr>
                                    <th  mat-sort-header="cityName">Name</th>
                                    <th>Action</th>
                                
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of citys  | filter : 'cityName' : searchString; let i = index   ">
                                   
                                  <td> {{c.cityName}}</td>
                                    <td><button (click)="delete(c)" class="btn btn-dark"><i class="fa fa-trash" ></i> Delete</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            </div>
    
        </div> -->


<div class="page-wrapper">
    <!-- <a  class="btn btn btn-primary  float-right" style="color: white;" (click)="city()"><i class="fa fa-plus"></i> Add City </a> -->

    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title"> City</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <input class="form-control" type="text" name="searchString" [(ngModel)]="searchString"
                    placeholder="Search here" aria-label="Search" (keyup)="applyFilter(searchString)" >

                <a class="btn btn btn-primary  float-right" style="color: white;" (click)="city()"><i
                        class="fa fa-plus"></i> Add City </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-table   #table [dataSource]="dataSource" >

                    <!-- Position Column -->
                    <ng-container matColumnDef="Cityname">
                        <mat-header-cell *matHeaderCellDef> City Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.cityName}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="Delete">
                        <mat-header-cell *matHeaderCellDef> Delete</mat-header-cell>
                        <mat-cell *matCellDef="let element"> <button (click)="delete(element)" class="btn btn-dark">Delete</button> </mat-cell>
                    </ng-container>






                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <!-- [pageSizeOptions]="pageLimit" -->
                <mat-paginator #paginator [length]="totalLength" [pageSize]="limit" 
                    (page)="changePage($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>