<div class="page-wrapper">
    <form [formGroup]="form">
        <div class="row" style="padding: 20px;">
            <div class="col-sm-4">
                <label for=""> Password</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="loginmodel.password"
                    formControlName="password" type="password" class="form-control">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required"> Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>

                </div>
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-4" style="    margin-top: 21px;">
                <label for=""> Confirm Password</label>
                <input class="form-control" [(ngModel)]="loginmodel.confirmPassword"
                formControlName="confirmPassword" type="password"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">

            <!-- <input type="checkbox" (click)="password()"> Show Password -->
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
            </div>
            <div class="col-sm-8"></div>

            <div class="col-sm-4" style="    padding: 29px 16px 16px 17px;">
                <button (click)="reset()">Reset </button>
            </div>
        </div>

    </form>
</div>