
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid" >
     <img src="./assets/img/logo-dark.png" style="width: 50px;" routerLink="/Home">
     <!-- <p>LOGO</p> -->
     <a  class="navbar-brand" routerLink="/Home" ></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
     <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item " >
       <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home</a>
       </li>
       <li class="nav-item" >
           <a class="nav-link"  routerLink ="/bookanappointment" routerLinkActive="active">Book An Appointment</a>
        </li>
        <li class="nav-item" *ngIf="isloggedIn">
            <a class="nav-link"  routerLink ="/appointments" routerLinkActive="active">Appointments</a>
         </li>
         <li class="nav-item" *ngIf="isloggedIn">
            <a class="nav-link"  routerLink ="/history" routerLinkActive="active">Appointment History</a>
         </li>
         <li class="nav-item" *ngIf="isloggedIn">
            <a class="nav-link"  routerLink ="/profile" routerLinkActive="active">Profile</a>
         </li>
         <!-- <li class="nav-item" >
            <a class="nav-link"  >Akhil Ashok</a>
         </li> -->
       <li class="nav-item" *ngIf="!isloggedIn">
       <a class="nav-link" routerLink ="/login" routerLinkActive="active"> Login / SignUp  </a>
       </li>
    
     </ul>
     <ul class="nav user-menu float-right" *ngIf="isloggedIn">
       
        <li class="nav-items dropdown has-arrow" style="    top: 1px;
        background: #F3F5F7;
        height: 36px;
        margin-left: 139px;
        padding: 7px 28px;
        border-radius: 30px;">
            
          {{firstName}} {{lastName}}
        </li>
        <li class="nav-item dropdown has-arrow"  (click)="logout()" style="    top: 0px;
      
        height: 44px; cursor: pointer;
        padding: 8px 32px;color: black;
        border-radius: 30px;">
          <i class="fa fa-sign-out"></i> Logout
        </li>
    </ul>





     </div>
     </div>
     </nav>
   
   