<div class="row" style="padding: 34px;">
    <div class="col-lg-12">
        <form [formGroup]="hospitalForm">
            <div class="row">
                <!-- <div class="col-sm-12">
                    <div class="form-group">
                        <label>Hospital Name  <span class="text-danger">*</span></label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.houseName.errors }" [(ngModel)]="doctormodel.hospitalName" formControlName="houseName"  type="text">
                        <div *ngIf="submitted && f.houseName.errors" class="invalid-feedback">
                            <div *ngIf="f.houseName.errors.required">Hospital name is required</div>
                        </div>
                   
                    </div>
                </div>-->
                <!-- <div class="col-sm-6">
                    <div class="form-group">
                        <label>Street <span class="text-danger">*</span></label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" [(ngModel)]="doctormodel.streetName" formControlName="streetName"  type="text">
                        <div *ngIf="submitted && f.streetName.errors" class="invalid-feedback">
                            <div *ngIf="f.streetName.errors.required">Street Name is required</div>
                        </div>
                    </div>
                </div> -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Hospital Name<span class="text-danger">*</span></label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.houseName.errors }" [(ngModel)]="doctormodel.hospitalName" formControlName="houseName"  type="text">
                        <div *ngIf="submitted && f.houseName.errors" class="invalid-feedback">
                            <div *ngIf="f.houseName.errors.required">Hospital name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Street Name<span class="text-danger">*</span></label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.streetName.errors }" [(ngModel)]="doctormodel.streetName" formControlName="streetName"  type="text">
                        <div *ngIf="submitted && f.streetName.errors" class="invalid-feedback">
                            <div *ngIf="f.streetName.errors.required">Street name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>District<span class="text-danger">*</span></label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.district.errors }" [(ngModel)]="doctormodel.district" formControlName="district"  type="text">
                        <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                            <div *ngIf="f.district.errors.required">District is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>State <span class="text-danger">*</span></label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" [(ngModel)]="doctormodel.state" formControlName="state"  type="email">
                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                            <div *ngIf="f.state.errors.required">State is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="form-group">
                            <label>Country<span class="text-danger">*</span></label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" [(ngModel)]="doctormodel.country" formControlName="country"  type="text">
                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                <div *ngIf="f.country.errors.required">Country is required</div>
                            </div>
                        </div>
                </div>
                   <div class="col-sm-4">
                        <div class="form-group">
                            <label>Location<span class="text-danger">*</span></label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" [(ngModel)]="doctormodel.location" formControlName="location"  type="text">
                            <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                <div *ngIf="f.location.errors.required">Location is required</div>
                            </div>
                        </div>
                </div> 
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="form-group">
                            <label>Pincode<span class="text-danger">*</span></label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" [(ngModel)]="doctormodel.pincode" formControlName="pincode"  type="number">
                            <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                            </div>
                        </div>
                </div>
          
            
            </div>
        
            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn" (click)="next()">Next</button>
            </div>
        </form>
    </div>
</div>