<div class="sidebar" id="sidebar" style="overflow-x: auto;">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                 <li routerLinkActive="active">
                    <a routerLink ="/dashboard"><i class="fa fa-dashboard"></i> <span>DASHBOARD</span></a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink ="/Hospital"><i class="fa fa-user-md"></i> <span>HOSPITAL</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink ="/CC"><i class="fa fa-user-md"></i> <span>CC</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink ="/Controlcenter"><i class="fa fa-user-md"></i> <span>CONTROL CENTER</span></a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink ="/department"><i class="fa fa-user-md"></i> <span>SPECIALITY</span></a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink ="/sales"><i class="fa fa-user-md"></i> <span>SALES</span></a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink ="/patients"><i class="fa fa-user-md"></i> <span>PATIENTS</span></a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink ="/city"><i class="fa fa-user-md"></i> <span>CITY</span></a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink ="/approvalRequest"><i class="fa fa-user-md"></i> <span>APPROVAL REQUEST</span></a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink ="/alldoctors"><i class="fa fa-user-md"></i> <span>DOCTORS</span></a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink ="/completedappointments"><i class="fa fa-user-md"></i> <span>APPOINTMENTS</span></a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink ="/transaction"><i class="fa fa-user-md"></i> <span>TRANSACTIONS</span></a>
                </li>
               
            </ul>
        </div>
    </div>
</div>