<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <img class="sideimg" src="./assets/img/urn_aaid_sc_US_54d95aff-6c21-4f2a-832b-080fd07ffe2c (5).png" alt="">
            <div class="col-md-7">
                <h1>ABOUT US</h1>
                <p>What we are and our history</p>
                &nbsp;
                &nbsp;
                
                <p style="color: black;font-size: 12px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea</p>
          

                <hr>

                <h1>VISION & MISSION</h1>
                <p>Our goal and thoughts</p>
                &nbsp;
                &nbsp;
                
                <p style="color: black;font-size: 12px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea</p>
          
          
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <img src="./assets/img/Group 10920.png" alt="">
            </div>
        </div>
    </div>
</div>