<app-header></app-header>
<div class="page-wrapper">
    <p style="padding-left: 29px; margin-top: 68px;font-size: 19px;"> <a routerLink="/approval-request"><i
                style="color: black;">Approval Request</i></a> &nbsp; <i class="fa fa-angle-double-right"></i> &nbsp; <i
            style="color:#1492E6;">Add Department</i> </p>
    <div class="container" style="    box-shadow: 0px 3px 6px #00000029;
    padding: 20px;
    background-color: #F8FAFB;
    margin-top: 25px;
    margin-left: 31px;">
        <div class="row">
            <div class="col-md-4">
                <h3>Add departments to doctors / skip</h3>
            </div>
        </div>
        <div class="row" style="     padding: 34px;   background-color: WHITE;">
            <div class="col-lg-12">


                <div class="row">
                    <div class="col-sm-4">
                        <label for="">Choose a department name</label>
                        <select class=" form-control" [(ngModel)]="departmentId" >
                            <option value="" selected disabled>Choose a department</option>

                            <option value="{{results.departmentId}}" *ngFor="let results of results">{{results.departmentName}}</option>
                        </select>
                    </div>
                   

                </div>
                <div class="row">
                    <button class="btn btn-primary submit-btn" (click)="adddepartmenttodoctor()">Add department</button>
                    <button class="btn btn-primary submit-btn" (click)="skipapprove()" [disabled]="isLoading"><i class="fa" [ngClass]="{' fa-spinner fa-spin': isLoading, 'fa-check': !isLoading}"></i> {{buttonapprove}}</button>
                    <!-- <button class="btn btn-primary submit-btn" (click)="skipapprove()">{{buttonapprove}}</button> -->
                    <!-- <button class="btn btn-primary submit-btn" (click)="reject()"> {{buttonreject}}</button> -->
                    
                    <button class="btn btn-primary submit-btn" (click)="reject()" [disabled]="isLoadingReject"><i class="fa" [ngClass]="{' fa-spinner fa-spin': isLoadingReject, 'fa-close': !isLoadingReject}"></i> {{buttonreject}}</button>

                </div>
            </div>
        </div>
    </div>
</div>