/* .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card{
    width:50%;
} */
/* ::ng-deep .mat-tab-body-content {
  height: 100%;
  overflow: visible;
}
::ng-deep .mat-tab-header 
{
  width: 88vw;
} */

.btn-danger{
    width: 100px;
    margin-left: 0.2cm;
}
.btn{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 3px 20px;
    font-size: 16px;
    cursor: pointer;
    /* margin-left: 25px; */
}
/* .btn-primary{
     background: midnightblue;
    width: 150px;
    margin-left: 0.1cm;
} */
.success {
    border-color: midnightblue;
    color: midnightblue;
  }
  .success:hover {
    background-color: midnightblue;
    color: white;
  }

#cardalign

  {

    width: 81vw;

  }
  @media only screen and (min-width:300px) and (max-width:900px)
{
    #cardalign
        {

            width: 90vw;

        }
}

.text-infos{
    color: crimson;
}
.text-infoa{
  color: green;
}
/* .tab_container {
  width: 90%;
  margin: 0 auto;
  margin-top: -7px;
  position: relative;
} */
 
  


.notice {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
          box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
  padding: 10px;
  font-size: 80%;
}
.notice-lg {
  padding: 35px;
  font-size: large;
}
.notice-success {
  border-color: #80D651;
}
.notice-success>strong {
  color: #80D651;
}
.notice-info {
  border-color: #45ABCD;
}
.notice-info>strong {
  color: #45ABCD;
}
.notice-warning {
  border-color: #FEAF20;
}
.notice-warning>strong {
  color: #FEAF20;
}
.notice-danger {
  border-color: #d73814;
}
.notice-danger>strong {
  color: #d73814;
}






















.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: sans-serif;
	background: #f6f9fa;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
    padding-left: 46px;
    width: 97%;
    /* margin: 0 auto; */
    padding-top: 70px;
    position: relative;

}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  /* width: 50%; */
  /* width: 25%; */
  width: 20%;
  padding: 0.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  /* background: #fff; */
  color: #999;
  /* border-bottom: 2px solid #f0f0f0; */
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px#009efb;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}
.pagination {
  margin-left: 36vw;}

  .tab-content h4 {
    margin-bottom: 24px;
    font-size: 23px;
    font-weight: 600;
    color: #404040;
}